h1{
    background-color: pink;
    color: darkslategray;
    text-align: center;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
}

h2 {text-align: center;
    color: darkslategray;
    font-size: 27px;

}

img {
    margin: auto;
    display: block;
width: 40%
 
}
h3 {
    font-size: 45px;
    color: darkblue;
    font-family: 'Rubik Dirt', cursive;
    
}
p {
    font-style: oblique;
    font-size: 20px;
    }
    h5 {
        font-size: 35px;
        color: darkslategrey;
    }
    h4{
        font-size: 30px;
    }
    li {
        font-size: 20px;
    }

    h4{

    }